@font-face {
    font-family: 'Utopium';
    src: url('Utopium-Regular.otf') format('opentype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -10;
}
h1, button {
    position: relative;
    z-index: 10;
}

.circle {
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20%;
    animation: floatUp 4s linear forwards;
}
@keyframes floatUp {
    from {

        transform: translateY(0);
        opacity: 1;

    }
    to {

        transform: translateY(-100vh);
        opacity: 0;

    }
}



body {
    font-family: 'Utopium', serif;
    background-color: #1a0f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin: 0;
}

h1 {
    color: lightgray;
    font-size: 8vw;
    margin: 0;
    font-weight: normal;
}

button {
    background-color: #ff11;
    font-family: 'Utopium', serif;
    font-size: 3vw;
    padding: 1vw 5vw;
    width: 60vw;
    border-radius: 2vw;
    margin-top: 2vh;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}


button:hover {
    background-color: rgba(121, 121, 121, 0.5);
    color: rgb(255, 121, 121);
    transform: scale(1.04);
}
